<!-- view/partials/footer.ejs -->

<div class="container-fluid">
    <div class="row" id="nb"> 
          <span class="glyphicon glyphicon-copyright-mark"></span>&nbsp; Gaming action center
    </div>
</div>