<!-- view/partials/site-navigation.ejs -->

<div class="col-md-2" id="n1">
    <div class="row"> 
          <a href="/index" class="btn btn-lg">
          <span class="glyphicon glyphicon-home"></span>&nbsp;  Home                  
        </a>
    </div>

    <div class="row"> 
         <a href="/categories" class="btn btn-lg">
          <span class="glyphicon glyphicon-list"></span>&nbsp; Categories
            </a>
    </div>

    <div class="row"> 
         <a href="/about" class="btn  btn-lg">
          <span class="glyphicon glyphicon-font"></span>&nbsp; About US
            </a>
    </div>
    
    <div class="row"> 
         <a href="#" class="btn  btn-lg">
          <span class="glyphicon glyphicon-user"></span>&nbsp; Rentals
            </a>
    </div>

    <div class="row"> 
         <a href="/contact" class="btn  btn-lg">
          <span class="glyphicon glyphicon-earphone"></span>&nbsp; Contact Us
            </a>
    </div>
</div>