<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
    <% include ../partials/import %>
</head>

<body>
    <% include ../partials/header %>

    <% include ../partials/user-navigation %>

    <div class="container-fluid" id="A">
        <div class="row" id="nav">
            <% include ../partials/site-navigation %>
            <div class="col-md-10" id="B">
                    <div class="row">
                            <div id="path">Home > About</div><br>
                    </div>
                    <p id="center">
                        <h1>Play! Relax! Enjoy!</h1> <br>
                        This is the place where you can rent the Game Cds with less effort. <br>
                        Our Website provides world in class facilities to rent, swap and purchase various Game Cds. <br>
                        This is a wonderful experince where you get to play all type of games with less cost. <br>
                        We provide all types of games which you find in the categories section and also can rate each of the game after your experience. <br>
                        Thank you all for your interest in visiting our page. 
                    </p>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>

</body>
</html>