<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
    <% include ../partials/import %>
</head>

<body>
    <% include ../partials/header %>

    <% include ../partials/user-navigation %>

    <div class="container-fluid" id="A">
        <div class="row" id="nav">
            <% include ../partials/site-navigation %>
            <div class="col-md-10" id="B">
                    <div class="row">
                            <div id="path">Home > Contact</div><br>
                    </div>
                    <p id="center">
                        <h1>Contact Info!</h1> <br>
                        Gaming Action Center, Head Office, <br>
                        Charlotte, NC - 28262 <br>
                        <a href="mailto:kkurnool@uncc.edu">customersupport@gac.com</a>
                    </p>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>

</body>
</html>