<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <% include ../partials/import %>
</head>

<body>
    <% include ../partials/header %>

    <% include ../partials/user-navigation %>

    <div class="container-fluid" id="A">
        <div class="row" id="nav">
            <% include ../partials/site-navigation %>
            <div class="col-md-10" id="B">
                    <p id="center">
                        Welcome <br>
                        This is the HOME page of the Gaming Action Center. <br>
                        You can enjoy your favorite games, share your experience and buy online. 
                    </p>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>

</body>
</html>