<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <% include ../partials/import %>
</head>

<body>
    <% include ../partials/header %>

    <% include ../partials/user-navigation %>

    <div class="container-fluid" id="A">
        <div class="row" id="nav">
            <% include ../partials/site-navigation %>
            <div class="col-sm-10" id="B">
                    <div class="row">
                            <div id="path">Home > Login</div><br>
                    </div>
                    <div class="row" id="LoginForm">
                        <div class="container">
                            <div class="login-form">
                            <div class="main-div">
                                <div class="panel">
                                    <h1>Login</h1>
                                    <p>Please enter your email and password</p>
                                </div>
                                    <form id="Login" action="/signIn" method="POST">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="inputEmail" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="inputPassword" placeholder="Password">
                                        </div>
                                        <% if(error) {%>
                                        <div class="forgot">
                                            * Either Email Address or Password is incorrect. Please try again
                                        </div>
                                        <% } %>
                                        <% if(locals.success) {%>
                                            <div class="alert alert-success" role="alert">
                                                You have successully registered!
                                            </div>
                                        <% } %>
                                        <% if(locals.exists) {%>
                                            <div class="forgot">
                                                Email ID already Registered.
                                            </div>
                                        <% } %>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </form>
                                    <div>
                                        <h4>Don't you have an account yet? </h4><a href="/userRegister">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
</body>
</html>