<!DOCTYPE html>
<html>
<head>
	<title>My Items</title>
    <% include ../partials/import %>
</head>

<body>
    <% include ../partials/header %>

    <% include ../partials/user-navigation %>

    <div class="container-fluid" id="A">
        <div class="row" id="nav">
            <% include ../partials/site-navigation %>
            <div class="col-md-10" id="B">
                    <div class="row">
                        <div id="path">Home > My Items</div><br><br>
                    </div>
                    <div class="row">
                            <div id="table-padding"> 
                                <% if(userItemsDisplay != undefined) { %>
                                <table class="table table-striped">
                                    <thead>
                                      <tr>
                                          <th>Game</th>
                                          <th>Category</th>
                                          <th>My Rating</th>
                                          <th>Swapped</th>
                                      </tr>
                                    </thead>
                                     <tbody>
                                        <% for (i = 0; i < userItemsDisplay.length; i++) { %>
                                            <tr>
                                                <td><%= userItemsDisplay[i].Item.itemName %></td>
                                                <td><%= userItemsDisplay[i].Item.catalogCategory %></td>
                                                <td>
                                                    <div class="rating">
                                                        <% for (j = 0; j < userItemsDisplay[i].Rating; j++) { %>
                                                            <span class="glyphicon glyphicon-star"></span>
                                                        <% } %>
                                                    </div>
                                                </td>
                                                <td> 
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <% if(userItemsDisplay[i].Status == 'pending') { %>
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            <% } else if (userItemsDisplay[i].Status == 'swapped') { %>
                                                                <span class="glyphicon glyphicon-check"></span>
                                                            <% } %>
                                                        </div>
                                                        <div class="col-md-3">
                                                                <a href="/myItems?action=update&theItem=<%= userItemsDisplay[i].Item.itemCode %>">
                                                                    <div class="btn btn-info">Update</div>
                                                                </a>
                                                        </div>
                                                        <div class="col-md-3">
                                                                <a href="/myItems?action=delete&theItem=<%= userItemsDisplay[i].Item.itemCode %>">
                                                                    <div class="btn btn-info">Delete</div>
                                                                </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table> 
                                <% } else { %>
                                    <p>You donot have any Items yet!</p>
                                <% } %> 
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>

</body>
</html>